            <div class="side-bar right-bar">
                <a href="javascript:void(0);" class="right-bar-toggle">
                    <i class="zmdi zmdi-close-circle-o"></i>
                </a>
                <h4 class="">Pedidos do Dia</h4>
                <div class="notification-list nicescroll">
                    <ul class="list-group list-no-border user-list">
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="icon bg-warning">
                                    <i class="zmdi zmdi-cutlery"></i>
                                </div>
                                <div class="user-desc" data-toggle='tooltip' data-placement='bottom' title='Pedido 01'>
                                    <span class="name">Michael Zenaty</span>
                                    <span class="desc">50 minutos</span>
                                    <span class="time">32 min e 30 seg atrás</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="icon bg-info">
                                    <i class="zmdi zmdi-time-restore"></i>
                                </div>
                                <div class="user-desc" data-toggle='tooltip' data-placement='bottom' title='Pedido 02'>
                                    <span class="name">Michael Zenaty</span>
                                    <span class="desc">50 minutos</span>
                                    <span class="time">32 min e 30 seg atrás</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="icon bg-primary">
                                    <i class="zmdi zmdi-swap"></i>
                                </div>
                                <div class="user-desc" data-toggle='tooltip' data-placement='bottom' title='Pedido 03'>
                                    <span class="name">Michael Zenaty</span>
                                    <span class="desc">50 minutos</span>
                                    <span class="time">32 min e 30 seg atrás</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="icon bg-success">
                                    <i class="zmdi zmdi-check"></i>
                                </div>
                                <div class="user-desc" data-toggle='tooltip' data-placement='bottom' title='Pedido 04'>
                                    <span class="name">Michael Zenaty</span>
                                    <span class="desc">50 minutos</span>
                                    <span class="time">32 min e 30 seg atrás</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            