{% extends "layout/index.html" %}

{% block content %}
		<!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'layout/topbar.html' %}
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'layout/navbar.html' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->

        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">{{Titulo_Pagina}}</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <!-- <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button> -->
                        <!-- <a href="javascript: void(0);" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Buy Admin Now</a> -->
                        <ol class="breadcrumb">
                            <li><a href="{{path_for('home')}}">Dashboard</a></li>
                            <li class="active">{{Titulo_Pagina}}</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- <div class="white-box"> -->
                            <div class="row">
                                <div class="col-xs-10">
                                    <!-- <h2 class="font-medium m-t-0">Filtro</h2> -->
                                    <h5 class="text-muted">Selecione um status para filtrar os acolhimentos</h5>
                                </div>
                            </div>
                            <!-- SE NÃO RECEBER O CONVÊNIO -->
                            {% if not id_convenio_sel %}
                            <div class="row">
                                <div class="col-md-4 m-b-20">
                                    <a href="{{path_for('status_acolhimento', {'status' : 'andamento'})}}" class="btn btn-primary btn-block {% if status != 'andamento' %} btn-outline {% endif %}">Em andamento ({{count_0}})</a>
                                </div>
                                <div class="col-md-4 m-b-20">
                                    <a href="{{path_for('status_acolhimento', {'status' : 'ressocializacao'})}}" class="btn btn-primary btn-block {% if status != 'ressocializacao' %} btn-outline {% endif %}">Ressocialização ({{count_1}})</a>
                                </div>
                                <div class="col-md-4 m-b-20">
                                    <a href="{{path_for('status_acolhimento', {'status' : 'alta-terapeutica'})}}" class="btn btn-primary btn-block {% if status != 'alta-terapeutica' %} btn-outline {% endif %}">Alta Terapêutica ({{count_11}})</a>
                                </div>
                                <div class="col-md-4 m-b-20">
                                    <a href="{{path_for('status_acolhimento', {'status' : 'alta-solicitada'})}}" class="btn btn-primary btn-block {% if status != 'alta-solicitada' %} btn-outline {% endif %}">Alta Solicitada ({{count_12}})</a>
                                </div>
                                <div class="col-md-4 m-b-20">
                                    <a href="{{path_for('status_acolhimento', {'status' : 'alta-administrativa'})}}" class="btn btn-primary btn-block {% if status != 'alta-administrativa' %} btn-outline {% endif %}">Alta Administrativa ({{count_13}})</a>
                                </div>
                                <div class="col-md-4 m-b-20">
                                    <a href="{{path_for('status_acolhimento', {'status' : 'evasao'})}}" class="btn btn-primary btn-block {% if status != 'evasao' %} btn-outline {% endif %}">Evasão ({{count_14}})</a>
                                </div>
                            </div>
                            {% else %}
                            <!-- SE RECEBER O CONVÊNIO -->
                            <div class="row">
                                <div class="col-md-4 m-b-20">
                                    <a href="{{path_for('status_convenio_acolhimento', {'status' : 'andamento', 'convenio' : id_convenio_sel})}}" class="btn btn-primary btn-block {% if status != 'andamento' %} btn-outline {% endif %}">Andamento ({{count_0}})</a>
                                </div>
                                <div class="col-md-4 m-b-20">
                                    <a href="{{path_for('status_convenio_acolhimento', {'status' : 'ressocializacao', 'convenio' : id_convenio_sel})}}" class="btn btn-primary btn-block {% if status != 'ressocializacao' %} btn-outline {% endif %}">Ressocialização ({{count_1}})</a>
                                </div>
                                <div class="col-md-4 m-b-20">
                                    <a href="{{path_for('status_convenio_acolhimento', {'status' : 'alta-terapeutica', 'convenio' : id_convenio_sel})}}" class="btn btn-primary btn-block {% if status != 'alta-terapeutica' %} btn-outline {% endif %}">Alta Terapêutica ({{count_11}})</a>
                                </div>
                                <div class="col-md-4 m-b-20">
                                    <a href="{{path_for('status_convenio_acolhimento', {'status' : 'alta-solicitada', 'convenio' : id_convenio_sel})}}" class="btn btn-primary btn-block {% if status != 'alta-solicitada' %} btn-outline {% endif %}">Alta Solicitada ({{count_12}})</a>
                                </div>
                                <div class="col-md-4 m-b-20">
                                    <a href="{{path_for('status_convenio_acolhimento', {'status' : 'alta-administrativa', 'convenio' : id_convenio_sel})}}" class="btn btn-primary btn-block {% if status != 'alta-administrativa' %} btn-outline {% endif %}">Alta Administrativa ({{count_13}})</a>
                                </div>
                                <div class="col-md-4 m-b-20">
                                    <a href="{{path_for('status_convenio_acolhimento', {'status' : 'evasao', 'convenio' : id_convenio_sel})}}" class="btn btn-primary btn-block {% if status != 'evasao' %} btn-outline {% endif %}">Evasão ({{count_14}})</a>
                                </div>
                            </div>
                            {% endif %}
                        <!-- </div> -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <div class="row">
                                <div class="col-xs-10">
                                    <h2 class="font-medium m-t-0">{{titulo}}</h2>
                                    <h5 class="text-muted m-b-40">{{subtitulo}}</h5>
                                </div>
                                <div class="col-xs-2">
                                	<!-- <button class="btn btn-info btn-circle pull-right btn-lg" data-toggle="tooltip" title="Novo Registro" onClick="window.location.href='{{path_for('cadastrar_acolhimento')}}'">
                                		<i class="fa fa-plus"></i>
                                	</button> -->

                                    {% if acesso_usuario.acolhimentos.index.c == 'on' %}
                                    <span data-toggle="modal" data-target="#adicionar-acolhimento">
                                        <button class="btn btn-info btn-circle btn-lg pull-right" data-toggle="tooltip" title="Novo Registro">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </span>
                                    {% endif %}

                                    <!-- /.modal add -->
                                    <div id="adicionar-acolhimento" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title">Iniciar novo acolhimento</h4>
                                                </div>
                                                <form action="{{path_for('cadastrar_acolhimento')}}" name="adicionar-acolhimento" method="POST">
                                                    <div class="modal-body">
                                                        <div class="row form-group">
                                                            <div class="col-md-2">
                                                                <label for="data_inicio">Data de entrada</label>
                                                                <input type="text" class="form-control" name="data_inicio" id="data_inicio" value="{{now|date('d/m/Y')}}" required="" data-mask="99/99/9999">
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label for="acolhido">Acolhido</label>
                                                                <select name="acolhido" id="acolhido" class="form-control select2" required="">
                                                                    <option value="" disabled="">-- SELECIONE</option>
                                                                    {% for a in acolhidos %}
                                                                    <option value="{{a.id}}">{{a.nome}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label for="tipo_acolhimento">Tipo de acolhimento</label>
                                                                <select name="tipo_acolhimento" id="tipo_acolhimento" class="form-control select2" required="">
                                                                    <option value="" selected="" disabled="">-- SELECIONE</option>
                                                                    <option value="0">Convênio</option>
                                                                    <option value="1">Particular</option>
                                                                    <option value="2">Vaga Social</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label for="tempo_tratamento">Tempo de acolhimento</label>
                                                                <select name="tempo_tratamento" id="tempo_tratamento" class="form-control select2" required="">
                                                                    <option value="" selected="" disabled="">-- SELECIONE</option>
                                                                    <option value="3">3 Meses</option>
                                                                    <option value="6">6 Meses</option>
                                                                    <option value="9">9 Meses</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="row form-group">
                                                            <div class="col-md-6">
                                                                <label for="unidade">Unidade</label>
                                                                <select name="unidade" id="unidade" class="form-control select2">
                                                                    <option selected disabled>-- SELECIONE</option>
                                                                    {% for u in unidades %}
                                                                    <option value="{{u.id}}">{{u.nome}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="quarto">Quarto</label>
                                                                <select name="quarto" id="quarto" class="form-control select2" disabled="">
                                                                    <option value="" selected="" disabled="">-- SELECIONE A UNIDADE</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="row form-group" id="row_convenios">
                                                            <div class="col-md-12">
                                                                <label for="convenio">Convênio</label>
                                                                <select name="convenio" id="convenio" class="form-control select2">
                                                                    <option value="" selected="" disabled="">-- SELECIONE</option>
                                                                    {% for c in convenios %}
                                                                    <option value="{{c.id}}">{{c.nome}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                <label for="tecnico_referencia">Técnico de Referência</label>
                                                                <select name="tecnico_referencia" id="tecnico_referencia" class="form-control select2">
                                                                    <option value="" selected="" disabled="">-- SELECIONE</option>
                                                                    {% for tc in tecnicos_referencia %}
                                                                    <option value="{{tc.id}}">{{tc.referencia}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            
                                                            <div class="col-md-4">
                                                                <label for="voluntario">Voluntário</label>
                                                                <select name="voluntario" id="voluntario" class="form-control select2">
                                                                    <option value="" selected="" disabled="">-- SELECIONE</option>
                                                                    <option value="1">Sim</option>
                                                                    <option value="0">Não</option>
                                                                </select>
                                                            </div>
                                                            
                                                            <div class="col-md-4">
                                                                <label for="voluntario">Terceirizado</label>
                                                                <select name="terceirizado" id="terceirizado" class="form-control select2">
                                                                    <option value="" selected="" disabled="">-- SELECIONE</option>
                                                                    <option value="1">Sim</option>
                                                                    <option value="0">Não</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                                                        <button type="submit" class="btn btn-success" id="submit-adicionar-acolhimento">Continuar</button>
                                                    </div>
                                                    <input type="hidden" name="{{ csrf.TokenNameKey }}" value="{{ csrf.TokenName }}"/>
                                                    <input type="hidden" name="{{ csrf.TokenValueKey }}" value="{{ csrf.TokenValue }}"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                	<!-- <a href="#" class="">
                                		<div class="circle-md pull-right circle bg-info mytooltip">
                                			<i class="ti-plus"></i>
                                			<span class="tooltip-content99">Novo registro</span>
                                		</div>
                                	</a> -->
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table id="myTable" class="table table-responsive table-hover">
                                    <thead>
                                        <tr>
                                            <!-- <th>N°</th> -->
                                            <th>Acolhido</th>
                                            <th>Fase</th>
                                            {% if not session.Unidade or id_convenio_sel %}
                                            <th>Unidade</th>
                                            {% endif %}
                                            <th>Quarto</th>
                                            {% if status == 'andamento' or tipo != '' %}
                                            <th>Data de entrada</th>
                                            {% else %}
                                            <th>Data de saída</th>
                                            {% endif %}
                                            <th>Período</th>
                                            {% if not id_convenio_sel %}
                                            <th>Tipo</th>
                                            {% endif %}
                                            {% if id_convenio_sel == 'todos' %}
                                            <th>Convênio</th>
                                            {% endif %}
                                            <th width="20%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in itens %}
                                        {% if dias_em_acolhimento[i.id] > 30 and pas_aberto[i.id] == 0 %}
                                            {% set tr_color = 'info' %}
                                        {% elseif periodo_mes[i.id] > ( config.tempo_tratamento - 1 ) and periodo_mes[i.id] < config.tempo_tratamento %}
                                            {% set tr_color = 'warning' %}
                                        {% elseif periodo_mes[i.id] >= config.tempo_tratamento %}
                                            {% set tr_color = 'danger' %}
                                        {% elseif dias_em_acolhimento[i.id] <= 5 %}
                                            {% set tr_color = 'success' %}
                                        {% endif %}
                                        <tr id="{{i.id}}" {% if ficha_entrevista[i.id] == 0 and dia[i.id] >= 7 %} style='background: #f0f0f0;' {% endif %}>
                                            <!-- <td>{% if i.numero_manual != 0 or i.numero_manual != '' %} {{i.numero_manual}} {% else %} {{ i.id }} {% endif %}</td> -->
                                            <td>{{ acolhido[i.acolhido].nome }}</td>
                                            <td>Fase {{ i.fase }}</td>
                                            {% if not session.Unidade or id_convenio_sel %}
                                            <td>{{ unidade[i.unidade].nome }}</td>
                                            {% endif %}
                                            <td>{{ quarto[i.quarto].nome }}</td>
                                            {% if status == 'andamento' or tipo != '' %}
                                            <td data-order="{{ i.data_inicio }}">{{ i.data_inicio|date('d/m/Y') }}</td>
                                            {% else %}
                                            <td data-order="{{ i.data_inicio }}">{{ i.data_saida|date('d/m/Y') }}</td>
                                            {% endif %}
                                            <!-- <td data-order="{{ i.data_inicio }}">
                                                {% set diferenca = date(now).diff(date(i.data_inicio)) %}
                                                {% set dias = diferenca.days %}
                                                {{dias}}
                                            </td> -->
                                            <td data-order="{{ i.data_inicio }}">{{ periodo_ano[i.id] }}{{ periodo_mes[i.id] }}{{ periodo_dia[i.id] }}</td>
                                            {% if not id_convenio_sel %}
                                            <td>
                                                {% if i.tipo_acolhimento == 0 %}
                                                <a href="{{path_for('convenio_acolhimento', {'convenio' : i.convenio})}}" data-toggle="tooltip" title="Clique para filtrar por este convênio">{{ convenio[i.convenio].nome }}</a>
                                                {% endif %}
                                                {% if i.tipo_acolhimento == 1 %} Particular {% endif %}
                                                {% if i.tipo_acolhimento == 2 %} Vaga Social {% endif %}
                                                {% if i.tipo_acolhimento == 3 %} Morador Assistido {% endif %}
                                            </td>
                                            {% endif %}
                                            {% if id_convenio_sel == 'todos' %}
                                            <td>
                                                <a href="{{path_for('convenio_acolhimento', {'convenio' : i.convenio})}}" data-toggle="tooltip" title="Clique para filtrar por este convênio">{{ convenio[i.convenio].nome }}</a>
                                            </td>
                                            {% endif %}
                                            <td>
                                                <div class="btn-group btn-group-justified"> 
                                                    <div class="btn-group"> 
                                                        <button type="button" class="btn btn-info waves-effect waves-light dropdown-toggle" data-toggle="dropdown" rel="tooltip" title="Opções">
                                                            <i class="glyphicon glyphicon-option-vertical"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li class="dropdown-header">Impressões</li>
                                                            <li><a href="{{base_url()}}/pdfs/ficha_cadastral.php?acolhimento={{i.id}}" target="_blank">Ficha Cadastral</a></li>
                                                            <li><a href="{{base_url()}}/pdfs/contratos.php?acolhimento={{i.id}}&tipo={{i.tipo_acolhimento}}&voluntario={{i.voluntario}}&terceirizado={{i.terceirizado}}" target="_blank">Contrato</a></li>
                                                            <li class="divider"></li>
                                                            <li class="dropdown-header">Tratamento</li>
                                                            <li><a href="{{path_for('parecer_profissional', {'id' : i.id} )}}">Parecer Profissional</a></li>
                                                            <!-- <li><a href="#">Ficha de Evolução</a></li>
                                                            <li><a href="#">P.A.S Inicial</a></li>
                                                            <li><a href="#">P.A.S Periódico</a></li> -->
                                                        </ul>
                                                    </div>
                                                    <!-- <a class="btn btn-info waves-effect waves-light" role="button" href="{{base_url()}}/pdfs/ficha_acolhimento.php?acolhimento={{i.id}}" target="_blank" rel="tooltip" title="Ficha de acolhimento"><i class="fa fa-print"></i></a>  -->
                                                    <!-- <a href="{{base_url()}}/pdfs/contratos.php?acolhimento={{i.id}}&tipo={{i.tipo_acolhimento}}" target="_blank" class="btn btn-success waves-effect waves-light" role="button" rel="tooltip" title="Contrato de acolhimento"><i class="fa fa-file-pdf-o"></i></a> -->

                                                    {% if acesso_usuario.acolhimentos.index.u == 'on' %}
                                                    <a href="{{path_for('editar_acolhimento', { 'id' : i.id })}}" class="btn btn-primary" role="button" rel="tooltip" title="Editar"><i class="fa fa-edit"></i></a>
                                                    {% endif %}

                                                    {% if acesso_usuario.acolhimentos.index.d == 'on' %}
                                                    <a href="#" class="btn btn-danger remover-{{ i.id }}" role="button" rel="tooltip" title="Remover"><i class="fa fa-trash-o"></i></a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <!-- <tfoot>
                                        <tr>
                                            <th colspan="2">Legenda de status para os acolhimentos</th>
                                            <th class="success">NOVO ACOLHIMENTO</th>
                                            <th class="warning">PRÓXIMO A DATA DE ALTA</th>
                                            <th class="info">PAS NÃO INICIADO</th>
                                            <th class="danger">EXCEDEU OS DIAS EM ACOLHIMENTO</th>
                                        </tr>
                                    </tfoot> -->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->

{% endblock %}

{% block include_css %}
	<!-- Data Tables -->
	<link href="{{base_url()}}/public/assets/plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{% endblock %}


{% block include_js %}
    <!--Data Tables -->
    <script src="{{base_url()}}/public/assets/plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->

    <!-- Sweet-Alert  -->
    <script src="{{base_url()}}/public/assets/plugins/bower_components/sweetalert/sweetalert.min.js"></script>

    <script src="{{base_url()}}/public/assets/js/mask.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            {% for i in itens %}
            $('.remover-{{ i.id }}').click(function(){
                swal({   
                    title: "Você tem certeza?",   
                    text: "Esta ação é irreversível e todos os dados deste acolhimento serão deletados!",   
                    type: "warning",   
                    showCancelButton: true,   
                    confirmButtonColor: "#DD6B55",   
                    confirmButtonText: "Sim, deletar!",   
                    cancelButtonText: "Não, cancelar!",   
                    closeOnConfirm: false,   
                    closeOnCancel: false 
                }, function(isConfirm){   
                    if (isConfirm) {
                        $.ajax({
                            type: "GET",
                            url: "{{path_for('remover_acolhimento', { 'id' : i.id })}}",
                            // data: 'id=' + '{{ i.id}}',
                            success: function() {
                                swal({
                                    title: "Deletado!", 
                                    text: "Todos os dados deste acolhimento foram excluídos.", 
                                    type: "success"
                                    },
                                    function(){
                                        $('#{{i.id}}').remove();
                                    }
                                 );
                            },
                            error: function() {
                                swal("Ooopssss!", "Algo deu errado e não consegui deletar os dados do sistema ;'(", "error")
                            }
                        });
                    } else {     
                        swal("Cancelado!", "Os dados deste acolhimento estão a salvo :)", "error");   
                    } 
                });
            });
            {% endfor %}
        });
    </script>

    <script>
	    $(document).ready(function() {
            {% if get.openmodal %}
            $('#adicionar-acolhimento').modal('show');
            $('#acolhido').select2('val', {{get.openmodal}});
            {% endif %}

	        $('#myTable').DataTable({
                "pageLength": 100
            });

            $('.btn-group [title]').tooltip({
              container: 'body'
            })

            $('#row_convenios').hide(); 
            $('#tipo_acolhimento').change(function(){
                if($('#tipo_acolhimento').val() == '0') {
                    $('#row_convenios').show(); 
                } else {
                    $('#row_convenios').hide(); 
                }
            });
            if($('#tipo_acolhimento').val() == '0') {
                $('#row_convenios').show(); 
            }
	    });
	</script>

    <script type="text/javascript">
        $('#unidade').on('change', function() {
            var id = this.value;
            $.ajax({
                type: "GET",
                url: "{{path_for('buscar_quarto', { 'id' : "+id" })}}",
                data: 'id=' + id,
                dataType: 'json',
                success: function(data) {
                    var len = data.length;

                    $("#quarto").removeAttr("disabled");
                    $("#quarto").empty();
                    $("#quarto").append("<option value='' selected disabled>Selecione o Quarto</option>");

                    if(len <= 0){
                        $("#quarto").append("<option>Nenhum quarto encontrado!</option>");
                    }

                    for(var i = 0; i<len; i++){
                        var id_quarto = data[i]['id'];
                        var name = data[i]['nome'];
                        var vagas = data[i]['vagas'];

                        $("#quarto").append("<option value='"+id_quarto+"'>"+name+" ("+vagas+")</option>");
                        // $("#bairro_chosen").find("ul").append("<li class='active-result'>"+name+"</li>");
                    }
                    console.log(data);
                },
                error: function(request, error) {
                    console.log(request);
                }
            });
        });
    </script>
{% endblock %}