{% extends "layout/index.html" %}

{% block content %}
		<!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'layout/topbar.html' %}
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'layout/navbar.html' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->

        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">{{Titulo_Pagina_Mae}} {{Titulo_Pagina}}</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <!-- <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button> -->
                        <!-- <a href="javascript: void(0);" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Buy Admin Now</a> -->
                        <ol class="breadcrumb">
                            <li><a href="{{path_for('home')}}">Dashboard</a></li>
                            <li><a href="#">Despensa</a></li>
                            <li><a href="{{path_for('entradas')}}">Entrada de produtos</a></li>
                            <li class="active">{{Titulo_Pagina}}</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <div class="row">
                                <div class="col-xs-10">
                                    <h2 class="font-medium m-t-0">{{titulo}}</h2>
                                    <h5 class="text-muted m-b-40">{{subtitulo}}</h5>
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-info btn-circle btn-lg pull-right" data-toggle="tooltip" title="Voltar para listagem" onClick="window.location.href='{{path_for('entradas')}}'">
                                        <i class="fa fa-chevron-left"></i>
                                    </button>

                                	<!-- <a href="#" class="">
                                		<div class="circle-md pull-right circle bg-info mytooltip">
                                			<i class="ti-plus"></i>
                                			<span class="tooltip-content99">Novo registro</span>
                                		</div>
                                	</a> -->
                                </div>
                            </div>

                            <form action="{{path_for('post_cadastrar_doacao')}}" method="POST">
                                <div class="row form-group">
                                    <div class="col-md-9">
                                        <label for="doador">Doador</label>
                                        <select name="doador" id="doador" class="form-control select2">
                                            <option value="" selected="" disabled="">-- SELECIONE</option>
                                            <optgroup label="Doadores">
                                            {% for d in doadores %}
                                            <option value="doador-{{d.id}}" {% if item.doador == d.id %} selected="" {% endif %}>{{d.nome}}</option>
                                            {% endfor %}</optgroup>
                                            <optgroup label="Acolhidos">
                                            {% for a in acolhidos %}
                                            {% if verifica_acolhimento[a.id] == 1 %} <!-- pega somente os acolhidos que estão em acolhimento -->
                                            <option value="acolhido-{{a.id}}" {% if item.acolhido == a.id %} selected="" {% endif %}>{{a.nome}}</option>
                                            {% endif %}
                                            {% endfor %}</optgroup>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="data_doacao"><i class="fa fa-asterisk text-danger"></i> Data da doação</label>
                                        <input type="text" class="form-control" name="data_doacao" id="data_doacao" onkeyup="mascara(this, mdata);" required="" placeholder="{{now|date('d/m/Y')}}" value="{{item.data_doacao|date('d/m/Y')}}">
                                    </div>
                                </div>

                                <table class="table table-hover order-list">
                                                            <thead>
                                                                <tr>
                                                                    <th width="40%"><i class="fa fa-asterisk text-danger"></i> Produto</th>
                                                                    <th><i class="fa fa-asterisk text-danger"></i> Qtd</th>
                                                                    <th><i class="fa fa-asterisk text-danger"></i> Valor</th>
                                                                    <th>Total</th>
                                                                </tr>
                                                            </thead>
                                                            
                                                            <tbody>
                                                                {% for ic in itens_doacao %}
                                                                <tr>
                                                                    <td>
                                                                        <select name="product[]" class="form-control select2" disabled="">
                                                                            <option value="" selected="" disabled="">-- SELECIONE</option>
                                                                            {% for p in produtos %}
                                                                            <option value="{{p.id}}" {% if ic.produto == p.id %} selected="" {% endif %}>{{p.nome}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </td>
                                                                    <td><input type="text" name="qty[]" class="form-control qtd" placeholder="0.000" readonly="" value="{{ic.quantidade}}" /></td>
                                                                    <td><input type="text" name="price[]" class="form-control dinheiro" placeholder="R$" readonly="" value="{{ic.valor_unitario}}" /></td>
                                                                    <td><input type="text" name="linetotal" readonly="readonly" class="form-control" value="{{ic.quantidade*ic.valor_unitario}}" /></td>
                                                                    <td></td>
                                                                </tr>
                                                                {% endfor %}

                                                                {% if view == 'cadastrar' %}
                                                                <tr>
                                                                    <td>
                                                                        <select name="product[]" class="form-control select2" required="" >
                                                                            <option value="" selected="" disabled="">-- SELECIONE</option>
                                                                            {% for p in produtos %}
                                                                            <option value="{{p.id}}">{{p.nome}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </td>
                                                                    <td><input type="text" name="qty[]" class="form-control qtd" placeholder="0.000" required="" /></td>
                                                                    <td><input type="text" name="price[]" class="form-control dinheiro" placeholder="R$0.00" readonly="" required="" /></td>
                                                                    <td><input type="text" name="linetotal" readonly="readonly" class="form-control" /></td>
                                                                    <td></td>
                                                                </tr>
                                                                {% endif %}
                                                            </tbody>
                                                            
                                                            <tfoot>
                                                                <tr>
                                                                    <td>
                                                                        <button type="button" class="btn btn-primary" id="addrow"><i class="mdi mdi-plus"></i> &nbsp; Adicionar Produto</button>
                                                                    </td>

                                                                    <!-- <td colspan="4" class="text-right">
                                                                        <h5>Frete R$<span id="totalfrete">0.00</span></h5>
                                                                        <h4><strong>Total R$<span id="grandtotal">0.00</span></strong></h4>
                                                                    </td> -->
                                                                </tr>
                                                            </tfoot>
                                </table>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <button type="reset" class="btn btn-default">Recomeçar</button>
                                        <button type="submit" class="btn btn-success pull-right">Adicionar registro</button>
                                        <input type="hidden" name="{{ csrf.TokenNameKey }}" value="{{ csrf.TokenName }}"/>
                                        <input type="hidden" name="{{ csrf.TokenValueKey }}" value="{{ csrf.TokenValue }}"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->

{% endblock %}

{% block include_css %}
	<!-- Switchery -->
    <link href="{{base_url()}}/public/assets/plugins/bower_components/switchery/dist/switchery.min.css" rel="stylesheet">

    <style>
        .form-group label 
        {
            margin-top: 10px;
        }
    </style>
{% endblock %}


{% block include_js %}
    <!--Data Tables -->
    <script src="{{base_url()}}/public/assets/plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->

    <!-- Form Validator  -->
    <script src="{{base_url()}}/public/assets/js/validator.js"></script>

    <script src="{{base_url()}}/public/assets/js/mask.js"></script>
    <script src="{{base_url()}}/public/assets/js/mascaras.js"></script>
    <script src="{{base_url()}}/public/assets/js/jquery.maskMoney.js"></script>

    <!-- Sweet-Alert  -->
    <script src="{{base_url()}}/public/assets/plugins/bower_components/sweetalert/sweetalert.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('form').on('reset', () => {
              $(".select2").select2('val', '');
            });

            {% if dados_pagamento.banco == 'cef' %}
                $('#row_op').css('display', 'block');
                $('#row_dv_ag').css('display', 'none');

                $('#row_op_2').css('display', 'block');
                $('#row_dv_ag_2').css('display', 'none');
            {% else %}
                $('#row_op').css('display', 'none');
                $('#row_dv_ag').css('display', 'block');

                $('#row_op_2').css('display', 'none');
                $('#row_dv_ag_2').css('display', 'block');
            {% endif %}

            $('#banco').on("change" , function() {
                if($(this).val() == 'cef'){
                    $('#row_op').css('display', 'block');
                    $('#row_dv_ag').css('display', 'none');
                } else {
                    $('#row_op').css('display', 'none');
                    $('#row_dv_ag').css('display', 'block');
                }
            });

            $('#banco_2').on("change" , function() {
                if($(this).val() == 'cef'){
                    $('#row_op_2').css('display', 'block');
                    $('#row_dv_ag_2').css('display', 'none');
                } else {
                    $('#row_op_2').css('display', 'none');
                    $('#row_dv_ag_2').css('display', 'block');
                }
            });

            $('#forma_pagamento').on("change" , function() {
                if($(this).val() == 'dinheiro'){
                    $('#dados_dinheiro').css('display', 'block');
                } else {
                    $('#dados_dinheiro').css('display', 'none');
                }

                if($(this).val() == 'transferencia'){
                    $('#dados_transferencia').css('display', 'block');
                } else {
                    $('#dados_transferencia').css('display', 'none');
                }

                if($(this).val() == 'cheque'){
                    $('#dados_cheque').css('display', 'block');
                } else {
                    $('#dados_cheque').css('display', 'none');
                }
            });

            var counter = 1;
    
            $("#addrow").on("click", function () {
                counter++;
                
                var newRow = $("<tr>");
                var cols = "";
                cols += '<td><select name="product[]" class="form-control select_'+counter+'">\
                                                                            <option value="" selected="" disabled="">-- SELECIONE</option>\
                                                                            {% for p in produtos %}\
                                                                            <option value="{{p.id}}">{{p.nome}}</option>\
                                                                            {% endfor %}\
                                                                        </select></td>';
                cols += '<td><input type="text" name="qty[]" class="form-control qtd_'+counter+'" placeholder="0.000" /></td>';
                cols += '<td><input type="text" name="price[]" class="form-control dinheiro_'+counter+'" placeholder="R$0.00" readonly="" /></td>';
                cols += '<td><input type="text" name="linetotal" readonly="readonly" class="form-control" /></td>';
                cols += '<td><a class="deleteRow btn btn-danger btn-circle"> x </a></td>';
                newRow.append(cols);
                
                $("table.order-list").append(newRow);
                $(".select_"+counter).select2();
                $(".select_"+counter).select2('val', '');
                $("input.qtd_"+counter).maskMoney({showSymbol:false, symbol:"R$", decimal:".", thousands:"", precision: 3});
                $("input.dinheiro_"+counter).maskMoney({showSymbol:false, symbol:"R$", decimal:".", thousands:""});
            });

            $("table.order-list").on("change keyup keydown paste propertychange bind", 'input[name^="price"], input[name^="qty"]', function (event) {
                calculateRow($(this).closest("tr"));
                calculateGrandTotal();
            });
            
            $('input[name^="valor_frete"]').on("change keyup keydown paste propertychange bind", function (event) {
                $("#totalfrete").text($(this).val());
                calculateGrandTotal();
            });
            
            $("table.order-list").on("click", "a.deleteRow", function (event) {
                $(this).closest("tr").remove();
                calculateGrandTotal();
            });
        });

        function calculateRow(row) {
            var price = +row.find('input[name^="price"]').val();
            var qty = +row.find('input[name^="qty"]').val();
            row.find('input[name^="linetotal"]').val((price * qty).toFixed(2));
        }
            
        function calculateGrandTotal() {
            var grandTotal = 0;

            $("table.order-list").find('input[name^="linetotal"]').each(function () {
                grandTotal += +$(this).val();
            });

            if($('input[name^="valor_frete"]').val() != ''){
                grandTotal += +$('input[name^="valor_frete"]').val();
            }

            $("#grandtotal").text(grandTotal.toFixed(2));
            $("#valor_efetuado").val(grandTotal.toFixed(2));
            $("#valor_total").val(grandTotal.toFixed(2));
        }
    </script>

    <script>
	    $(document).ready(function() {
            $("input.qtd").maskMoney({showSymbol:false, symbol:"R$", decimal:".", thousands:"", precision: 3});
            $("input.dinheiro").maskMoney({showSymbol:false, symbol:"R$", decimal:".", thousands:""});

	        $('#myTable').DataTable();
	    });
	</script>

    
{% endblock %}